p {
    text-indent: 0;
}
.siteName_header {
    white-space: nowrap;
    color: white;
}
.site_header,
.navigation {
    position: sticky;
    top: 0;
    background-color: #7f7f7f ;
    display: flex;
    justify-content: flex-end;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    padding: 5px 20px 5px 10px;
    align-items: center;
}
.navigation a{
    color: white;
    margin-left: 10px;
    transition: color 0.2s ease ;
    font-weight: bold;
    text-decoration: none;
}
.navigation a:hover{
    color: #cccccc;
}
.navigation a:last-child{
    margin-right: 20px;
}
body {
  margin: 0;
}
.About_Us{
    color: darkgray;
}
