p {
    text-indent: 0;
}
.site_header,
.navigation {
    position: sticky;
    top: 0;
    background-color: #7f7f7f ;
    display: flex;
    justify-content: space-between;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    align-items: center;
}
.navigation a{
    color: white;
    margin-left: 20px;
    transition: color 0.2s ease ;
    font-weight: bold;
    text-decoration: none;
}
.navigation a:hover{
    color: #cccccc;
}
.navigation a:last-child{
    margin-right: 20px;
}
body {
  margin: 0;
}
