p {
    text-indent: 0;
}
.siteName_header {
    white-space: nowrap;
    color: white;
}
.site_header,
.navigation {
    position: sticky;
    top: 0;
    background-color: #7f7f7f ;
    display: flex;
    justify-content: flex-end;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    padding: 5px 10px 5px 10px;
    align-items: center;
}
.navigation a{
    color: white;
    margin-left: 10px;
    transition: color 0.2s ease ;
    font-weight: bold;
    text-decoration: none;
}
.navigation a:hover{
    color: #cccccc;
}
.navigation a:last-child{
    margin-right: 20px;
}
body {
  margin: 0;
}
.Main_Page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(90deg,rgba(55, 42, 155, 1) 0%, rgba(64, 154, 192, 1) 54%, rgba(83, 237, 224, 1) 100%);
    /*margin:40px auto;*/
    border-radius: 0px; 
    max-width: 1200px;
}
.Left {
  flex: 1;
  padding: 40px;
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

.Right {
  flex: 2;
  padding: 40px;
  color: white;
  font-size: 1.1rem;
  line-height: 1.6;
}
.Right a {
  display: inline-block;
  margin-top: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
.Right a:hover {
  color: #e0f7fa;
}

